html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Background pattern from Subtle Patterns */
  background: #ffffff url('../img/geometry2.png');
  /* Fluid font-size snippet from CSS Tricks (https://css-tricks.com/snippets/css/fluid-typography/) */
  font-size: calc(1rem + (17 - 16) * (100vw - 320px) / (1366 - 320));
  font-family: 'louis_george_cafe', 'Coda', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.hide {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 600px;
  position: relative;
  font-size: 1em;
}

h1,
h2 {
  font-family: 'cocogoose_regular', 'louis_george_cafe', 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 460px;
  margin-bottom: 0.33em;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  position: relative;
  padding-left: 10px;
}

.hollow-stars {
  position: absolute;
  top: 0;
}

.stars__item {
  list-style: none;
  display: inline-block;
}

.stars__item--remove {
  visibility: hidden;
}

.score-panel .restart {
  cursor: pointer;
  padding: 0.33em 0.67em;
  /* padding-right: 5px; */
}

.timer i {
  color: #0b4980;
}

.restart i {
  color: #f00;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0 0 2em;
  flex-wrap: wrap;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(58, 113, 162, 0.50);
}

.deck__card {
  height: 105px;
  width: 23%;
  background-color: rgba(58, 113, 162, 0.5);
  background: rgba(58, 113, 162, 0.5) 
              url(../img/card-default-bg.jpg) 
              no-repeat 
              center center;
  background-size: cover;
  font-size: 0;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(58, 113, 162);
  transition: 0.5s ease height;
}

@media screen and (min-width: 405px) {
  .deck__card {
    height: 125px;
  }
}

@media screen and (min-width: 440px) {
  .deck__card {
    height: 135px;
  }
}

@media screen and (min-width: 470px) {
  .deck__card {
    height: 140px;
  }
}

@media screen and (min-width: 515px) {
  .deck__card {
    height: 150px;
  }
}

@media screen and (min-width: 560px) {
  .deck__card {
    height: 160px;
  }
}

@media screen and (min-width: 600px) {
  .deck__card {
    height: 170px;
  }
}

/* Animation rulesets from Daniel Eden (https://daneden.github.io/animate.css/) */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.deck .deck__card--open {
  color: #0b4980;
  background: #fff;
  border: 3px solid;
  cursor: default;
  pointer-events: none;
  transform: rotateY(0);

  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

.deck .deck__card--show {
  font-size: 2.3em;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.deck .deck__card--match {
  font-size: 2.3em;
  color: #00da00;
  background: #fff;
  border: 3px solid;
  cursor: default;
  pointer-events: none;

  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.deck .deck__card--unmatch {
  color: #c60000;

  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

/* .deck__card--dom-hide {
  display: none;
} */

.deck__card--disabled {
  pointer-events: none;
}

/*
 * Styles for congratulatory message popup
 */

.popup {
  display: none;
  font-size: 1em;
}

.popup--show {
  display: block;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.popup--show .modal {
  animation-name: zoomIn;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  padding: 0.67em;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.modal__inner {
  margin: 0 auto;
  padding: 0.67em;
  position: relative;
  border: 2px solid #0b4980;
  background: url(../img/medallist.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-stats {
  padding: 0;
  list-style-type: none;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.modal__btn--close {
  top: 0;
  right: 0;
  position: absolute;
  padding: 0.33em;
  cursor: pointer;
  font-size: 1.2em;
  border-left: 2px solid #0b4980;
  border-bottom: 2px solid #0b4980;
  color: rgba(58, 113, 162, 0.50);
  transition: 0.5s ease all;
}

.modal__btn--close:hover {
  color: #0b4980;
}

.btn-holder {
  text-align: center;
}

.modal__btn--restart {
  font-family: inherit;
  outline: none;
  border: 2px solid #0b4980;
  cursor: pointer;
  padding: 0.67em 0.53em;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s ease all;
}

.modal__btn--restart:hover {
  background-color: rgba(58, 113, 162, 0.30);
}